rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
    match /models/{model} {
      allow read: if true;
      allow write: if request.auth && (request.auth.token.role in ["STAFF", "ADMIN"]);
    }
    match /terrains/{terrain} {
      allow read: if true;
      allow write: if request.auth && (request.auth.token.role in ["STAFF", "ADMIN"]);
    }
    match /options/{option} {
      allow read: if true;
      allow write: if request.auth && (request.auth.token.role in ["STAFF", "ADMIN"]);
    }
  }
}