@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "color.css";

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

.animated-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.15s ease-out;
    cursor: pointer;
}

.animated-link:hover {
    font-weight: 700;
    font-size: 0.96rem;
}

.animated-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: 0.2s ease-out;
    transform: scaleX(0);
}
.animated-link:hover:after {
    transform: scaleX(1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,select {
    box-sizing: border-box;
    padding: 6px 8px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px rgb(180, 180, 180);
    font-size: 1rem;
    width: 100%;
    transition: 0.2s ease-in;
}

input:focus {
    outline: none;
    border: solid 1px var(--primary);
}

.input-group {
    display: flex;
    gap: 10px;
}

.button-primary {
    width: fit-content;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.button-primary:disabled {
    background-color: #d2d2d2;
    cursor: default;
}

form .button-primary {
    margin-left: auto;
}

::-webkit-scrollbar {
    background: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    transition: 0.1s;
}

::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;
}